extends layout

block content
	div.main
		div.headLine
			h1= title
			p 探索你的#{title}
		div.searchArea
			form(name="searchField" action="/search_result" method="get")
				input(type="text", class="searchBox", name="searchBox")
				//- input(class="button", type="button", id="show", value="分類檢索")
				input(class="submit", type="submit", value="搜尋!")
				br
				//- div.hiddenRadio(style="visibility:hidden")
				div
					label(for="radio")
					input(type="radio", name="class", checked="true")
					| 全部
					input(type="radio", name="class")
					| 蛋糕
					input(type="radio", name="class")
					| 餅乾
		br
		if data != null
			div.searchResult
				each dish, index in data
					a(href="/view_recipe?id="+dish.recipe_id) #{dish.title}
					p 人數: #{dish.num_of_people} &nbsp;&nbsp;&nbsp;製作時間: #{dish.time}
					p #{dish.description}
		//- script.
			$(document).ready(function(){
				$("#show").click(function(){
					$(".hiddenRadio").toggle();
				});
			});