extends layout

block content
	div.main
		div.re
			h1= title
			div.fir
				p 觀看人次: #{data.view_count} &nbsp;&nbsp;收藏人數: #{data.fav_count} 
				h2 #{data.title}
				p #{data.description}
				p 適用人數: #{data.num_of_people} &nbsp;&nbsp;&nbsp;製作時間: #{data.time}
				p 作者: #{data.author}
			table
				tr
					td
						div.tLeft
							h3 步驟: 
							each val, index in data.step
								p=index + ': '+val
							br
						div.last
							h3 小撇步: #{data.tips}
					td
						div.tRight
							h3 食材: 
							each tag, ind in data.ingredient
								if ind!='others'
									p=ind + ':'
								each val, index in tag
									p=index + ': '+val
								br
			div.last2
				h3 你可能還會喜歡:
				if sug != undefined
					each val, ind in sug
						a(href="/view_recipe?id="+val.recipe_id) #{val.title}
						p=val.description